#masthead {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	top: 0;
	box-shadow: rgba(black, 0.1) 0 1px 0;
	background-color: $color__background;

	&.headroom {
		transition: transform 200ms linear;
	}

	&.headroom--pinned {
    transform: translateY(0%);
	}
	&.headroom--unpinned {
    transform: translateY(-100%);
	}

	& + #content {
		margin-top: 4.5em;

		// body.home.page & {
		// 	@include susy-breakpoint($breakpoint__medium) {
		// 		margin-top: 0;
		// 	}
		// }

		#featured {
			margin-top: -4.5em;
		}
	}

	> div {
		position: relative;
		@extend %container;
	}

	.site-branding {
		float: left;
		margin: 0.75em 0;

		.site-logo {

			img {
				vertical-align: bottom;
				max-height: 3em;
			}
		}

		.site-title {
			@extend %screen-reader-text;
		}

		.site-description {
			@extend %screen-reader-text;
			margin: 0;
		}
	}

	.site-contact {
		float: right;
		margin-top: 0.75em;
		@include susy-breakpoint(max-width $breakpoint__medium) {
			margin-right: 3.5em;
		}
		@include susy-breakpoint($breakpoint__medium) {
			margin-left: gutters();
		}
	}
}
