/*--------------------------------------------------------------
# Susy
--------------------------------------------------------------*/

@import "susy";

$susy: (
	container: $breakpoint__medium,
	container-position: center,
	columns: 12,
	gutters: 1/2,
	output: float,
	global-box-sizing: border-box,
	debug: (
		color: $color__debugging,
		output: background,
	),
);
