/*!
Theme Name: _s
Theme URI: http://underscores.me/
Author: Automattic
Author URI: http://automattic.com/
Description: Hi. I'm a starter theme called <code>_s</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0.0
Template: _s
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: _s
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

_s is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Susy
--------------------------------------------------------------*/
#masthead > div, #content > div, #colophon > div {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
  width: 94.28571%;
}
#masthead > div:after, #content > div:after, #colophon > div:after {
  content: " ";
  display: block;
  clear: both;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@media (min-width: 64em) {
  body.sidebar #content #primary {
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
  }
}
@media (min-width: 64em) {
  body.sidebar #content #secondary {
    width: 31.42857%;
    float: right;
    margin-right: 0;
  }
}
