@mixin button-default {
	@include button-color();
}

%button-default {
	@include button-default;
}

@mixin button-one {
	@include button-color($color__button-one, $color__button-one-background, $color__button-one-border);
}

%button-one {
	@include button-one;
}

a.more-link,
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend %button-default;
	display: inline-block;
	border: none;
	border-radius: 3px;
	box-shadow: none;
	font-size: 1em;
	line-height: 1.5em;
	padding: 0.375em 1em;
	text-shadow: none;

	&:hover,
	&:active,
	&:focus {
		box-shadow: none;
	}
}
