@mixin media__slider-navigation-pagination-bullet {

  .slider {

    ol {

      li {

        a {
          text-indent: 1.5em;
          border-radius: 50%;
          background-color: $color__link;
        }
      }
    }
  }
}

@mixin media__slider-navigation-direction-icon {

  .slider {

    ul {

      li {

        a {

          &.slider-prev {

            &:before {
              vertical-align: middle;
              @include fontawesome;
              font-size: 1.5em;
              content: "\f104";
            }
          }

          &.slider-next {

            &:after {
              vertical-align: middle;
              @include fontawesome;
              font-size: 1.5em;
              content: "\f105";
            }
          }

          span {
            @extend %screen-reader-text;
          }
        }
      }
    }
  }
}

@mixin media__slider-navigation-overlay {

  .slider {

    ol {
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 1.5em;
      left: 0;
      margin: 0 auto;
      @extend %container;
    }

    ul {
      position: absolute;
      z-index: 2;
      top: 50%;
      right: 0;
      left: 0;
      margin: -0.75em auto 0 auto;
      @extend %container;
    }
  }
}

.slider {
  overflow: hidden;
  position: relative;

  .slides {
    margin: 0;

    // Start clearfix
    @include susy-clearfix;

    html[xmlns] & {
      display: block;
    }

    * html & {
      height: 1%;
    }
    // End clearfix

    > * {
      margin: 0;

      // Start no javascript fallback
      display: none;
      backface-visibility: hidden;

      &:first-child{
        display: block;
      }
      // End no javascript fallback

      .entry-header {
        .entry-title {
          font-weight: bold;
        }
      }
    }
  }

  ol {
    min-height: 1.5em;
    margin: 1.5em 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.75em;

      &:last-of-type {
        margin-right: auto;
      }

      a {
        overflow: hidden;
        display: block;
        width: 1.5em;
        height: 1.5em;
        @include media__slider-navigation-pagination-bullet;

        &.slider-active {
          opacity: 0.5;
        }
      }
    }
  }

  ul {
    margin: -3em 0 1.5em 0;
    padding: 0;
    list-style: none;
    @include susy-clearfix;

    li {

      &.slider-nav-prev {
        float: left;
      }

      &.slider-nav-next {
        float: right;
      }

      a {
        display: block;
        @include media__slider-navigation-direction-icon;

        &:hover, &:focus {
          opacity: 0.5;
        }
      }
    }
  }
}
