@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

@mixin screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: black;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: white;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

@mixin hyperlink-color($hyperlink-color: $color__link, $hyperlink-color-hover: $color__link-hover) {
	color: $hyperlink-color;

	&:visited {
		color: $hyperlink-color;
	}
	&:hover,
	&:focus,
	&:active {
		color: $hyperlink-color-hover;
	}
}

@mixin button-color($button-color: $color__button, $button-color-background: $color__button-background, $button-color-border: $color__button-border) {
	color: $button-color;
	border-color: $button-color-border;
	background: $button-color-background;

	&:hover,
	&:active,
	&:focus {
		border-color: darken($button-color-border, 10%);
		background-color: darken($button-color-background, 10%);
	}
}

@mixin fontawesome {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

@mixin animated($animation-name) {
  animation-duration: $AnimateDuration;
  animation-fill-mode: both;

	&.animated {
		@include animate($animation-name);
	}
}

@import "placeholders";
