@mixin hyperlink-default {
	@include hyperlink-color();
}

%hyperlink-default {
	@include hyperlink-default;
}

@mixin hyperlink-one {
	@include hyperlink-color($color__link-one, $color__link-one-hover);
}

%hyperlink-one {
	@include hyperlink-one;
}

a {
	@extend %hyperlink-default;
	text-decoration: none;

	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
