$color__text: black;

$color__background: white;

$color__link: blue;
$color__link-hover: darkblue;
$color__link-visited: purple;

$color__button-text: rgba(0, 0, 0, .8);
$color__button-background: #e6e6e6;
$color__button-background-hover: #e6e6e6;
$color__button-background-focus: #e6e6e6;
$color__button-border: #ccc;
$color__button-border-hover: #bbb;
$color__button-border-focus: #aaa;

$color__input-text: #666;
$color__input-text-focus: #111;
$color__input-border: #ccc;

$color__debugging: rgba(red, .1);
