$color__brand-one: red;
$color__brand-two: orange;
$color__brand-three: yellow;

$color__text: black;
$color__background: white;

$color__link: blue;
$color__link-hover: darkblue;

$color__link-one: $color__brand-one;
$color__link-one-hover: darken($color__brand-one, 10);

$color__button: $color__text;
$color__button-background: lightgray;
$color__button-border: lightgray;

$color__button-one: $color__button;
$color__button-one-background: $color__brand-one;
$color__button-one-border: $color__brand-one;

$color__input-text: #666;
$color__input-text-focus: #111;
$color__input-border: #ccc;

$color__debugging: rgba(red, 0.1);
