$featured-slider-width: auto !default; // auto | fixed
$featured-slider-height: auto !default; // auto | fixed | full
$featured-slider-minimum-height: 48em !default;
$featured-slider-image-size: width !default; // width | height | cover
$featured-slider-caption-alignment: left !default; // left | center | right
$featured-slider-controls-color: $color__background-body !default;
$featured-slider-caption-text-color: $color__text-body !default;
$featured-slider-caption-background-color: $color__background-body !default;
