/**
 * Featured
 */

// layouts
$module__featured-layout: viewport; // grid | viewport

  // grid
  $module__featured-layout-grid-height: 48em;

// general
$module__featured-caption-alignment: left; // left | center | right
$module__featured-navigation-color: $color__link;
$module__featured-navigation-pagination: numbered; // number | bullet
$module__featured-navigation-direction: text; // text | icon
$module__featured-caption-text-color: $color__text;
$module__featured-caption-background-color: $color__background;

/**
 * Services
 */

// layouts
$module__services-layout: grid; // grid | viewport

  // grid
  $module__services-layout-grid-columns-small: 4;
  $module__services-layout-grid-columns-xsmall: 2;

  // viewport
  $module__services-layout-viewport-caption-vertical-alignment: middle; // top | middle | bottom
  $module__services-layout-viewport-caption-horizontal-alignment: odd; // left | center | right | odd | even
  $module__services-caption-background-color: $color__background;

// general
$module__services-caption-text-color: $color__text;
$module__services-caption-text-link: $color__link;

/**
 * Credentils
 */

// layouts
$module__credentials-layout: grid; // grid | list

  // grid
  $module__credentials-layout-grid-columns-small: 4;
  $module__credentials-layout-grid-columns-xsmall: 2;

// general
$module__credentials-text-align: center;
$module__credentials-icon-position: center; // center | left
$module__credentials-icon-size: 3em;
$module__credentials-font-size: 3em;

/**
 * Counter
 */

// general
$module__counter-odometer-font-size: 3em;
