#copyright {
  overflow: auto;
  @if $module__copyright-text-color != $color__text {
    color: $module__copyright-text-color;
  }
  @if $module__copyright-background-color != $color__background {
    background-color: $module__copyright-background-color;
  }

  > div {
    @extend %container;
  }

  a {
    @if $module__copyright-link-color != hyperlink-default {
      @extend %#{$module__copyright-link-color};
    }
  }
}
