@mixin module__credentials-layout-grid {

  ol {
    @include susy-clearfix;

    li {
      @include susy-breakpoint($breakpoint__xsmall $breakpoint__small) {
        @include span( 12 / $module__credentials-layout-grid-columns-xsmall);
      }
      @include susy-breakpoint($breakpoint__small) {
        @include span( 12 / $module__credentials-layout-grid-columns-small);
      }

      &:nth-of-type(#{$module__credentials-layout-grid-columns-xsmall}n) {
        @include susy-breakpoint($breakpoint__xsmall $breakpoint__small) {
          @include last;
        }
      }

      &:nth-of-type(#{$module__credentials-layout-grid-columns-small}n) {
        @include susy-breakpoint($breakpoint__small) {
          @include last;
        }
      }
    }
  }
}

.credentials.section {
  overflow: auto;
  text-align: $module__credentials-text-align;
  @if $module__credentials-text-color != $color__text {
    color: $module__credentials-text-color;
  }
  @if $module__credentials-background-color != $color__background {
    background-color: $module__credentials-background-color;
  }

  @if $module__credentials-layout == grid {
    @include module__credentials-layout-grid;
  }

  > div {
    @extend %container;
  }

  ol {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    li {
      margin-bottom: 1.5em;
      @if $module__credentials-icon-position == left {
        position: relative;
        padding-left: 4.5em;
      }

      &:before {
        @include fontawesome;
        content: "\f111";
        font-size: $module__credentials-icon-size;

        @if $module__credentials-icon-position == center {
          display: block;
          width: 100%;
          margin-bottom: .5em;
        } @else if $module__credentials-icon-position == left {
          position: absolute;
          top: 0;
          left: 0;
        }
        @if $module__credentials-icon-color != $color__text {
          color: $module__credentials-icon-color;
        }
      }
    }
  }
}
