@mixin module__featured-layout-grid {
  height: $module__featured-layout-grid-height;

  .slider {
    @extend %container;

    .slides {

      > *  {
        height: $module__featured-layout-grid-height;
      }
    }
  }
}

@mixin module__featured-layout-viewport {
  @if ($module__featured-layout-viewport-height) {
    height: $module__featured-layout-viewport-height;
  } @else {
    height: 100vh;
  }

  .slider {

    .slides {

      > *  {
        @if ($module__featured-layout-viewport-height) {
          height: $module__featured-layout-viewport-height;
        } @else {
          height: 100vh;
        }
      }
    }
  }
}

@mixin module__featured-parallax {

  .slider {
    z-index: 0;

    .slides {

      > *  {
        background-attachment: fixed;

        .entry-video {
          position: fixed !important;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}


.featured.section {
  overflow: hidden;
  @include susy-breakpoint(max-width $breakpoint__medium) {
    display: none;
  }

  @if $module__featured-layout == grid {
    @include module__featured-layout-grid;
  } @else if $module__featured-layout == viewport {
    @include module__featured-layout-viewport;
  }

  @if $module__featured-parallax {
    @include module__featured-parallax;
  }

  @include media__slider-navigation-overlay;

  @if $module__featured-navigation-pagination == bullet {
    @include media__slider-navigation-pagination-bullet;
  }

  @if $module__featured-navigation-direction == icon {
    @include media__slider-navigation-direction-icon
  }

  .slider {

    .slides {

      > *  {
        overflow: hidden;

        .entry-image {
          margin: 0;

          img {
            object-fit: cover;
            object-position: center center;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        .entry-video {
          position: absolute;
          width: 100%;
          height: 100%;
          margin: 0;

          embed, iframe, object, video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: none;
          }

          /* 1. No object-fit support: */
          @media (min-aspect-ratio: 16/9) {
            embed, iframe, object, video { height: 300% !important; top: -100%; }
          }
          @media (max-aspect-ratio: 16/9) {
            embed, iframe, object, video { width: 300% !important; left: -100%; }
          }

          /* 2. If supporting object-fit, overriding (1): */
          @supports (object-fit: cover) {
            video {
              top: 0;
              left: 0;
              width: 100% !important;
              height: 100% !important;
              object-fit: cover;
          		object-position: center center;
            }
          }

          .mejs-container {
            position: absolute;
            width: 100% !important;
            height: 100% !important;
            .mejs-mediaelement {
              .me-plugin {
                width: 100%;
                height: 100%;
              }
            }
            .mejs-layers {
              .mejs-layer {
                width: 100% !important;
                height: 100% !important;

                &.mejs-poster {
                  background-size: cover;
                }
              }
            }
            .mejs-controls {
              display: none !important;
            }
          }
        }

        > div {

          &:last-of-type {
            position: absolute;
            bottom: 4.5em;
            width: 100%;

            > div {
              @extend %container;

              > div {
                overflow: auto;
                float: left;
                width: 50%;
                padding: 1.5em gutters();
                background-color: $color__background;

                @if $module__featured-caption-alignment == center {
                  float: none;
                  margin: 0 auto;
                } @else if $module__featured-caption-alignment == right {
                  float: right;
                }

                @if $module__featured-caption-text-color != $color__text {
                  color: $module__featured-caption-text-color;
                }

                @if $module__featured-caption-background-color != $color__background {
                  background-color: $module__featured-caption-background-color;
                }

                a {
                  @if $module__featured-caption-link-color != hyperlink-default {
                    @extend %#{$module__featured-caption-link-color};
                  }

                  &.button {
                    @if $module__featured-caption-button-color != button-default {
                      @extend %#{$module__featured-caption-button-color};
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    ol {

      li {

        a {

          @if $module__featured-navigation-color != $color__link {
            color: $module__featured-navigation-color;
            background-color: $module__featured-navigation-color;
          }

          @if $module__featured-navigation-pagination == bullet {

            @if $module__featured-navigation-color != $color__link {
              background-color: $module__featured-navigation-color;
            }
          }
        }
      }
    }

    ul {
      margin: -1.5em auto 0 auto;

      li {

        a {
          @if $module__featured-navigation-color != $color__link {
            color: $module__featured-navigation-color;
          }

          &.slider-prev {

            &:before {
              font-size: 3em;
            }
          }

          &.slider-next {

            &:after {
              font-size: 3em;
            }
          }
        }
      }
    }
  }
}
