.featured.section {
  @include susy-breakpoint(max-width $breakpoint__medium) {
    display: none;
  }

  .slider {
    @if $featured-slider-width == fixed {
      @extend %container;
    }

    .slides {

      .slide {
        @if $featured-slider-height == fixed {
          height: $featured-slider-minimum-height;
        } @else if $featured-slider-height == full {
          height: 100vh;
        }

        @if $featured-slider-image-size == cover {
          overflow: hidden;
          min-height: $featured-slider-minimum-height;
        }

        img {
          @if $featured-slider-image-size == height {
            width: auto;
            max-width: auto;
            max-height: 100%;
          } @else if $featured-slider-image-size == cover {
        		object-fit: cover;
        		position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        		width: 100%;
        		height: 100%;
          }
        }

        figcaption {

          > div {

            > div {
              @if $featured-slider-caption-alignment == center {
                float: none;
                margin: 0 auto;
              } @else if $featured-slider-caption-alignment == right {
                float: right;
              }

              @if $featured-slider-caption-text-color != $color__text {
                color: $featured-slider-caption-text-color;
              }

              @if $featured-slider-caption-background-color != $color__background {
                background-color: $featured-slider-caption-background-color;
              }
            }
          }
        }
      }
    }

    ol {

      li {

        a {

          @if $featured-slider-navigation-color != $color__link {
            color: $featured-slider-navigation-color;
          }

          @if $featured-slider-navigation-pagination == bullet {
            text-indent: 1.5em;
            background-color: $color__link;
            border-radius: 50%;
            background-color: $featured-slider-navigation-color;
          }
        }
      }
    }

    ul {

      li {

        a {

          @if $featured-slider-navigation-color != $color__link {
            color: $featured-slider-navigation-color;
          }

          @if $featured-slider-navigation-direction == icon {

            &.slider-prev {

              &:before {
                vertical-align: middle;
                font-family: $font__icon;
                @include font-size(3);
                content: "\f104";
              }
            }

            &.slider-next {

              &:after {
                vertical-align: middle;
                font-family: $font__icon;
                @include font-size(3);
                content: "\f105";
              }
            }

            span {
              @extend %screen-reader-text;
            }
          }
        }
      }
    }
  }
}
