.gallery.section {
  overflow: hidden;
  margin: 0;
  text-align: center;
  @if $module__gallery-text-color != $color__text {
    color: $module__gallery-text-color;
  }
  @if $module__gallery-background-color != $color__background {
    background-color: $module__gallery-background-color;
  }

  > div {}

  .section-header {
    @extend %container;

    .section-title {}
  }

  article {
    margin: 0;

    .entry-header {
      @extend %container;

      .entry-title {
        @extend %screen-reader-text;
      }

      .entry-meta {
        @extend %screen-reader-text;
      }
    }

    .entry-content {
      margin-top: 0;

      .gallery {
        margin: 0;

        figure {
          margin: 0;
        }
      }
    }

    .entry-footer {
      @extend %container;

      .cat-links {
        @extend %screen-reader-text;
      }

      .edit-link {
        @extend %screen-reader-text;
      }
    }

    a {
      @if $module__gallery-link-color != hyperlink-default {
        @extend %#{$module__gallery-link-color};
      }

      &.button {
        @if $module__gallery-button-color != button-default {
          @extend %#{$module__gallery-button-color};
        }
      }
    }
  }
}
