.introduction.section {
  overflow: auto;
  @if $module__introduction-text-color != $color__text {
    color: $module__introduction-text-color;
  }
  @if $module__introduction-background-color != $color__background {
    background-color: $module__introduction-background-color;
  }

  > div {
    @extend %container;
  }

  .section-title {}

  article {

    .entry-summary {
      @include susy-clearfix;

      > div {

        &:first-of-type {
          @include susy-breakpoint($breakpoint__small) {
            @include span(6);
          }
        }

        &:last-of-type {
          @include susy-breakpoint($breakpoint__small) {
            @include span(6 last);
          }
        }
      }
    }

    .entry-footer {

      .toggle {

        &[aria-pressed="false"] {
          &:after {
            content: "More About";
          }
        }

        &[aria-pressed="true"] {
          &:after {
            content: "Less About";
          }
        }

        span {
          @extend %screen-reader-text;
        }
      }
    }
  }
}
