@mixin module__map-layout-grid {

  > div {
    @extend %container;
  }

  .map-container {
    height: $module__map-layout-grid-height;
  }
}

@mixin module__map-layout-viewport {

  .map-container {
    @if ($module__map-layout-viewport-height) {
      height: $module__map-layout-viewport-height;
    } @else {
      height: 100vh;
    }
  }
}

.map.section {

  @if $module__map-layout == grid {
    @include module__map-layout-grid;
  } @else if $module__map-layout == viewport {
    @include module__map-layout-viewport;
  }

  .section-header {

    .section-title {
      @extend %screen-reader-text;
    }
  }

  .map-container {
    position: relative;
    width: 100%;

    iframe {
      display: block;
      width: 100%;
      height: 100%;
    }

    &:focus {
      &:after {
        display: none;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
